body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

#settingsLink, #infoLink {
    position: absolute;
    bottom: 1em;
}

#settings, #info {
    display: none;
    position: absolute;
    overflow: scroll;
    bottom: 3em;
    width: 20%;
    background-color: white;
    border: 0.1em dashed black;
    padding: 0.5em;
}

#settingsLink, #settings {
    left: 1em;
}

#infoLink, #info {
    right: 1em;
}

#settings {
    height: 20%;
}

#info {
    height: 50%;
}

a, a:visited {
    color: black;
}

#info h1, #settings h1 {
    font-size: 16px;
}

#info h2 {
    font-size: 14px;
}

label {
    user-select: none;
}

#brainLoader {
    position: absolute;
    left: 49%;
    top: 50%;
}

#wikiLogoLoader {
    position: absolute;
    left: 49%;
    top: 20%;
}
