body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

#infoLink {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#info {
    display: none;
    position: absolute;
    overflow: scroll;
    right: 1em;
    bottom: 3em;
    height: 50%;
    width: 20%;
    background-color: white;
    border: 0.1em dashed black;
    padding: 0.5em;
}

a, a:visited {
    color: black;
}

#info h1 {
    font-size: 16px;
}

#info h2 {
    font-size: 14px;
}

#brainLoader {
    position: absolute;
    left: 49%;
    top: 50%;
}

#wikiLogoLoader {
    position: absolute;
    left: 49%;
    top: 20%;
}
